.mobileShow {
    display: none;
}
   /* Smartphone Portrait and Landscape */
   @media only screen
   and (max-device-width : 480px){
       .mobileShow {
           display: inline;
       }
       .h-about-info{
           bottom: 0;
       }
}




/*This is main CSS file that contains custom style rules used in this template*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* Template Name: Hospital*/
/* Version: 1.0 Initial Release*/
/* Build Date: 25-02-2015*/
/* Author: Unbranded*/
/* Copyright: (C) 2015 */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------*/
/* TABLE OF CONTENTS: */
/*--------------------------------------------------------*/
/* 01 - FONTS */
/* 02 - LOADER */
/* 03 - RESET STYLES */
/* 04 - GLOBAL SETTINGS */
/* 05 - HEADER */
/* 06 - FOOTER */
/* 07 - PLUGINS */
/* 08 - HOSPITAL TEMPLATE */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 01 - FONTS */
/*-------------------------------------------------------------------------------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,700,500);
@font-face {
  font-family: 'Jaapokki';
  src: url("../fonts/jaapokki-regular-webfont.eot");
  src: url("../fonts/jaapokki-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/jaapokki-regular-webfont.woff2") format("woff2"), url("../fonts/jaapokki-regular-webfont.woff") format("woff"), url("../fonts/jaapokki-regular-webfont.ttf") format("truetype"), url("../fonts/jaapokki-regular-webfont.svg#jaapokkiregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*-------------------------------------------------------------------------------------------------------------------------------*/






/* 02 - LOADER */
/*-------------------------------------------------------------------------------------------------------------------------------*/
#loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 99999999999999;
  background: #fff;
}

.loader-content {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
}

.spinner {
  margin: 100px auto;
  width: 32px;
  height: 32px;
  position: relative;
}

.b-cube {
  background: #e66a55;
}

.ar-cube {
  background: #196575;
}

.s-cube {
  background: #d0a97e;
}

.f-cube {
  background: #eb2a2a;
}

.m-cube {
  background: #164b9b;
}

.ag-cube {
  background: #333;
}

.h-cube {
  background: #3cc5de;
}

.r-cube {
  background: #d0c4b2;
}

.t-cube {
  background: #3cc5de;
}

.cube1, .cube2 {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.moreInfo {
    padding: 0px 100px;
    width: 80%;
    max-width: 80%;
    display: block;
    margin: 0 auto;
}
.moreInfo>h2{
    font-weight: bold;
    text-align: center;
    font-size: 2em;


}

@-webkit-keyframes cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 03 - RESET STYLES */
/*-------------------------------------------------------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
td{
    text-align: left;
    padding: 30px;
    margin: 0;
    margin-bottom: 5px;
  border: 0;
  font-size: 100%;
  font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

body * {
  -webkit-text-size-adjust: none;
}

.clear {
  clear: both;
  overflow: hidden;
  height: 0px;
  font-size: 0px;
  display: block;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

input, textarea, select {
  font-family: 'Lato', sans-serif, Arial;
  font-weight: 400;
  -webkit-appearance: none;
  border-radius: 0;
}

a, a:link, a:visited, a:active, a:hover {
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

body {
  font-family: 'Jaapokki', sans-serif, Arial;
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
}

p {
  font-family: 'Maven Pro';
  letter-spacing: 1px;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 04 - GLOBAL SETTINGS */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*table*/
.table-view {
  height: 100%;
  width: 100%;
  display: table;
}

.row-view {
  display: table-row;
}

.cell-view {
  display: table-cell;
  vertical-align: middle;
  height: inherit;
}

/*buttons*/
/*nopadding class*/
.nopadding {
  padding-left: 0;
  padding-right: 0;
}

/*content wrapper*/
#content-wrapper {
  padding-top: 122px;
  position: relative;
}

/*body class with moved header*/
body.header-moved #content-wrapper {
  padding-top: 244px;
}

/*container to display above header*/
.container-above-header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

/*text styles*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Jaapokki";
}

h3 {
  text-transform: uppercase;
}

p {
  font-family: "Maven Pro";
}

/*map*/
#map-canvas {
  height: 250px;
  background: #485b77;
}

.block #map-canvas {
  margin-bottom: 60px;
}

/*video player*/
.video-player {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(22, 29, 40, 0.8);
  z-index: 10;
  transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
}

.video-player.active {
  transform: translateX(0%);
  -moz-transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
}

.video-iframe {
  position: absolute;
  left: 50px;
  top: 50px;
  right: 50px;
  bottom: 50px;
}

.video-iframe iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.video-player .close-iframe {
  color: #ff6c3a;
  font-family: 'bold', sans-serif, Arial;
  font-size: 27px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  text-align: center;
}

.video-player .close-iframe:hover {
  color: #fff;
}

@media (max-width: 991px) {
  #content-wrapper, body.header-moved #content-wrapper {
    padding-top: 50px;
  }

  .container-above-header {
    position: relative;
  }

  #map-canvas {
    height: 300px;
  }

  .block #map-canvas {
    margin-bottom: 30px;
  }
}
.background-parent {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.read-more i {
  position: relative;
  display: inline-block;
  right: 0;
  transition: right 0.3s linear;
}

.read-more:hover i {
  right: -10px;
}

.block-title {
  color: #196575;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 10px;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 23px;
  word-wrap: break-word;
}

@media screen and (max-width: 481px) {
  .block-title {
    font-size: 32px;
  }
}
.sub-title {
  max-width: 560px;
  color: #8b989b;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  line-height: 1.7;
  padding: 0 15px 80px;
  font-family: 'Maven Pro';
  letter-spacing: 0;
}

/*demo*/
.demo-wrapper {
  position: static;
}

.demo-banner {
  background: url("../img/hospital/demo-bg.jpg") no-repeat center;
  background-size: cover;
  min-height: 660px;
  height: 100vh;
  position: relative;
  background-attachment: fixed;
}
.demo-banner:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  z-index: 1;
}
@media screen and (max-width: 992px) {
  .demo-banner {
    height: auto;
    padding: 150px 0;
    min-height: 100%;
  }
}
@media screen and (max-width: 481px) {
  .demo-banner {
    padding: 70px 0;
  }
}

.d-banner-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 2;
  padding: 0 15px;
}
@media screen and (max-width: 992px) {
  .d-banner-content {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
  }
}
.d-banner-content h1 {
  margin: 55px 0;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 8px;
  line-height: 1.3;
}
@media screen and (max-width: 481px) {
  .d-banner-content h1 {
    margin: 30px 0;
  }
}
.d-banner-content a {
  display: inline-block;
  background: #fff;
  color: #333;
  padding: 18px 44px 14px;
  text-transform: uppercase;
}
.d-banner-content i {
  background: url("../img/hospital/arrow.png");
  width: 18px;
  height: 8px;
}

.demo-info > div {
  padding: 17px 0 33px;
  text-align: center;
}
.demo-info h3 {
  font-family: 'Maven Pro';
  text-transform: uppercase;
  font-size: 16px;
  color: #d4fafd;
}
.demo-info h3 span {
  font-size: 40px;
  font-weight: 700;
  padding-right: 10px;
  position: relative;
  top: 5px;
  color: #fff !important;
}

.d-color-1 {
  background: #31cdda;
}

.d-color-2 {
  background: #e76a56;
}
.d-color-2 h3 {
  color: #fbbdb3;
}

.d-color-3 {
  background: #196575;
}
.d-color-3 h3 {
  color: #99cfda;
}

.d-footer {
  background: #f9f9f9;
  padding: 70px 0 60px;
}
.d-footer div {
  color: #333;
  text-transform: uppercase;
  text-align: center;
}

.demo-content {
  padding: 100px 0;
}
.demo-content h2 {
  font-size: 40px;
  color: #333333;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.demo-content p {
  text-transform: uppercase;
  color: #888;
  font-weight: bold;
  font-family: 'Maven Pro';
}

.template-box {
  float: left;
  width: 33.333%;
  margin-top: 100px;
  padding: 0 15px;
}
@media screen and (max-width: 992px) {
  .template-box {
    margin-top: 70px;
    width: 100%;
  }
}
.template-box p {
  padding-top: 30px;
  text-transform: uppercase;
  color: #333;
  font-size: 13px;
  font-family: "Jaapokki";
}

.img-box {
  position: relative;
  margin: auto;
  border: 3px solid transparent;
  display: block;
  overflow: hidden;
}
@media screen and (max-width: 992px) {
  .img-box {
    display: inline-block;
  }
}
.img-box .template-link {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s linear;
  width: 100%;
  height: 100%;
}
.img-box .template-link a {
  padding: 12px 20px 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -300px);
      -ms-transform: translate(-50%, -300px);
          transform: translate(-50%, -300px);
  border: 2px solid #ffffff;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
}
.img-box .template-link a i {
  background: url("../img/hospital/v-arrow.png");
  width: 18px;
  height: 8px;
  margin-left: 5px;
}
.img-box:hover .template-link {
  opacity: 1;
}
.img-box:hover .template-link a {
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.img-box img {
  max-width: 100%;
  display: block;
  height: auto;
}

.template-box-1 {
  border-color: #37383d;
}

.template-box-2 {
  border-color: #c6b7a0;
}

.template-box-3 {
  border-color: #eb2b2a;
}

.template-box-4 {
  border-color: #164b9b;
}

.template-box-5 {
  border-color: #223c3d;
}

.template-box-6 {
  border-color: #e06b57;
}

.template-box-7 {
  border-color: #196575;
}

.template-box-8 {
  border-color: #d0a97e;
}

.template-box-9 {
  border-color: #3dc5df;
}

@-webkit-keyframes scroll-arrow {
  from {
    bottom: 48px;
  }
  to {
    bottom: 30px;
  }
}
@-ms-keyframes scroll-arrow {
  from {
    bottom: 48px;
  }
  to {
    bottom: 30px;
  }
}
@keyframes scroll-arrow {
  from {
    bottom: 48px;
  }
  to {
    bottom: 30px;
  }
}
.module {
  background: #f1f2f1;
  padding: 70px 0 0;
}
.module img {
  width: 65px;
  float: left;
  margin-right: 30px;
}
.module .content {
  width: 60%;
  font-size: 14px;
  line-height: 22px;
  color: #2c2c2c;
  font-family: 'Maven Pro';
  letter-spacing: 1px;
  float: left;
}
@media screen and (max-width: 992px) {
  .module .content {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    float: none;
  }
}
.module .col-md-4 {
  min-height: 200px;
}
@media screen and (max-width: 992px) {
  .module .col-md-4 {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 992px) {
  .module {
    text-align: center;
  }
  .module img {
    float: none;
    margin-bottom: 20px;
  }
}

.arrow-down {
  width: 18px;
  height: 18px;
  background: url("../img/hospital/down-arrow.png");
  position: absolute;
  left: 50%;
  bottom: 48px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 9999;
  cursor: pointer;
  -webkit-animation: scroll-arrow 750ms ease-in-out infinite alternate;
  animation: scroll-arrow 750ms ease-in-out infinite alternate;
}

a[href^="http://maps.google.com/maps"] {
  display: none !important;
}

.gmnoprint a, .gmnoprint span {
  display: none;
}

.gmnoprint div {
  background: none !important;
}

.topIcons{
    height: 50px;
}
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 7- PLUGINS STYLE  */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* ===============================================================
Basic Swiper Styles
================================================================*/
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  direction: ltr;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  /* Fix of Webkit flickering */
  z-index: 1;
  height: inherit !important;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: inherit !important;
  -webkit-transition-property: -webkit-transform, left, top;
  -webkit-transition-duration: 0s;
  -webkit-transform: translate3d(0px, 0, 0);
  -webkit-transition-timing-function: ease;
  -moz-transition-duration: 0s;
  -moz-transform: translate3d(0px, 0, 0);
  -moz-transition-timing-function: ease;
  -o-transition-duration: 0s;
  -o-transform: translate3d(0px, 0, 0);
  -o-transition-timing-function: ease;
  -o-transform: translate(0px, 0px);
  -ms-transition-property: -ms-transform, left, top;
  -ms-transition-duration: 0s;
  -ms-transform: translate3d(0px, 0, 0);
  -ms-transition-timing-function: ease;
  transition-property: transform, left, top;
  transition-duration: 0s;
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
  transition-timing-function: ease;
  box-sizing: content-box;
}

.swiper-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide {
  float: left;
  height: inherit !important;
  box-sizing: content-box;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
}

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
}

/* ===============================================================
Your custom styles, here you need to specify container's and slide's
sizes, pagination, etc.
================================================================*/
.swiper-container {
  /* Specify Swiper's Size: */
  width: 100%;
  height: auto;
}

.swiper-slide {
  /* Specify Slides's Size: */
  width: 100%;
  height: 100%;
}

.swiper-slide-active {
  /* Specific active slide styling: */
}

.swiper-slide-visible {
  /* Specific visible slide styling: */
}

/* ===============================================================
Pagination Styles
================================================================*/
.swiper-pagination-switch {
  background: transparent;
  display: inline-block;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 2px solid transparent;
  position: relative;
  margin: 8px;
  border-radius: 50%;
}
.swiper-pagination-switch:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
}

.swiper-active-switch {
  border-color: #fff;
}

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.9;
  filter: alpha(opacity=80);
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999999;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}

.mfp-preloader a {
  color: #CCC;
}

.mfp-preloader a:hover {
  color: #FFF;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover, .mfp-close:focus {
  opacity: 1;
  filter: alpha(opacity=100);
}

.mfp-close:active {
  top: 1px;
}

.mfp-close-btn-in .mfp-close {
  color: #333;
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

.mfp-arrow {
  position: absolute;
  opacity: 1;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
  margin-top: -54px;
}

.mfp-arrow:hover, .mfp-arrow:focus {
  opacity: 1;
  filter: alpha(opacity=100);
}

.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 18px;
  height: 8px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 35px;
}

.mfp-arrow-left {
  left: 0;
}

.mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.8) url("../img/hospital/l-arrow.png") no-repeat center;
  left: 15px;
}

.mfp-arrow-right {
  right: 0;
}

.mfp-arrow-right:after {
  left: auto;
}

.mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.8) url("../img/hospital/v-arrow.png") no-repeat center;
  right: 15px;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
  top: -40px;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure {
  line-height: 0;
}

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444;
}

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px;
}

.mfp-figure figure {
  margin: 0;
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }

  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }

  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }

  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }

  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box;
  }

  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }

  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }

  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
        transform: scale(0.75);
  }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
        transform-origin: 0;
  }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    -ms-transform-origin: 100%;
        transform-origin: 100%;
  }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}
.mfp-ie7 .mfp-img {
  padding: 0;
}

.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px;
}

.mfp-ie7 .mfp-container {
  padding: 0;
}

.mfp-ie7 .mfp-content {
  padding-top: 44px;
}

.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0;
}

/* text-based popup styling */
.white-popup {
  position: relative;
  background: #FFF;
  padding: 25px;
  width: auto;
  max-width: 400px;
  margin: 0 auto;
}

/*

====== Zoom effect ======

*/
.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/*

====== Newspaper effect ======

*/
.mfp-newspaper {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-newspaper .mfp-with-anim {
  opacity: 0;
  transition: all 0.5s;
  -webkit-transform: scale(0) rotate(500deg);
      -ms-transform: scale(0) rotate(500deg);
          transform: scale(0) rotate(500deg);
}
.mfp-newspaper.mfp-bg {
  opacity: 0;
  transition: all 0.5s;
}
.mfp-newspaper.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0deg);
      -ms-transform: scale(1) rotate(0deg);
          transform: scale(1) rotate(0deg);
}
.mfp-newspaper.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-newspaper.mfp-removing .mfp-with-anim {
  -webkit-transform: scale(0) rotate(500deg);
      -ms-transform: scale(0) rotate(500deg);
          transform: scale(0) rotate(500deg);
  opacity: 0;
}
.mfp-newspaper.mfp-removing.mfp-bg {
  opacity: 0;
}

/*

====== Move-horizontal effect ======

*/
.mfp-move-horizontal {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-move-horizontal .mfp-with-anim {
  opacity: 0;
  transition: all 0.3s;
  -webkit-transform: translateX(-50px);
      -ms-transform: translateX(-50px);
          transform: translateX(-50px);
}
.mfp-move-horizontal.mfp-bg {
  opacity: 0;
  transition: all 0.3s;
}
.mfp-move-horizontal.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.mfp-move-horizontal.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-move-horizontal.mfp-removing .mfp-with-anim {
  -webkit-transform: translateX(50px);
      -ms-transform: translateX(50px);
          transform: translateX(50px);
  opacity: 0;
}
.mfp-move-horizontal.mfp-removing.mfp-bg {
  opacity: 0;
}

/*

====== Move-from-top effect ======

*/
.mfp-move-from-top {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-move-from-top .mfp-content {
  vertical-align: top;
}
.mfp-move-from-top .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s;
  -webkit-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
          transform: translateY(-100px);
}
.mfp-move-from-top.mfp-bg {
  opacity: 0;
  transition: all 0.2s;
}
.mfp-move-from-top.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.mfp-move-from-top.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-move-from-top.mfp-removing .mfp-with-anim {
  -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
          transform: translateY(-50px);
  opacity: 0;
}
.mfp-move-from-top.mfp-removing.mfp-bg {
  opacity: 0;
}

/*

====== 3d unfold ======

*/
.mfp-3d-unfold {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-3d-unfold .mfp-content {
  -webkit-perspective: 2000px;
          perspective: 2000px;
}
.mfp-3d-unfold .mfp-with-anim {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateY(-60deg);
          transform: rotateY(-60deg);
}
.mfp-3d-unfold.mfp-bg {
  opacity: 0;
  transition: all 0.5s;
}
.mfp-3d-unfold.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
.mfp-3d-unfold.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-3d-unfold.mfp-removing .mfp-with-anim {
  -webkit-transform: rotateY(60deg);
          transform: rotateY(60deg);
  opacity: 0;
}
.mfp-3d-unfold.mfp-removing.mfp-bg {
  opacity: 0;
}

/*

====== Zoom-out effect ======

*/
.mfp-zoom-out {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-out .mfp-with-anim {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}
.mfp-zoom-out.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-out.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.mfp-zoom-out.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-out.mfp-removing .mfp-with-anim {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  opacity: 0;
}
.mfp-zoom-out.mfp-removing.mfp-bg {
  opacity: 0;
}

/*

====== "Hinge" close effect ======

*/
@-webkit-keyframes hinge {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  20%, 60% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  40% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  80% {
    -webkit-transform: rotate(60deg) translateY(0);
            transform: rotate(60deg) translateY(0);
    opacity: 1;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  100% {
    -webkit-transform: translateY(700px);
            transform: translateY(700px);
    opacity: 0;
  }
}
@keyframes hinge {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  20%, 60% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  40% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  80% {
    -webkit-transform: rotate(60deg) translateY(0);
            transform: rotate(60deg) translateY(0);
    opacity: 1;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  100% {
    -webkit-transform: translateY(700px);
            transform: translateY(700px);
    opacity: 0;
  }
}
.hinge {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: hinge;
          animation-name: hinge;
}

.mfp-with-fade .mfp-content, .mfp-with-fade.mfp-bg {
  opacity: 0;
  transition: opacity .5s ease-out;
}
.mfp-with-fade.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-with-fade.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-with-fade.mfp-removing.mfp-bg {
  opacity: 0;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 05 - HEADER */
/*-------------------------------------------------------------------------------------------------------------------------------*/
#logo {
  margin: 0 0 30px 15px;
  float: left;
    font-family: 'Jaapokki';
    font-size: 2em;
    display: inline-block;
}
@media screen and (max-width: 992px) {
  #logo {
    margin: 0 0 15px 15px;
  }
}

.header {
  position: fixed;
  width: 100%;
  z-index: 9999;
  background: #fff;
  padding-top: 30px;
  transition: background 0.3s linear;
}
.header > .container {
  position: relative;
}
@media screen and (max-width: 992px) {
  .header {
    background: rgba(255, 255, 255, 0.97);
    padding-top: 15px;
  }
}

.nav {
  float: right;
  margin-top: 5px;
  margin-right: 15px;
}
@media screen and (max-width: 992px) {
  .nav {
    display: none;
    width: 100%;
    margin-right: 0;
  }
}
.nav li {
  list-style: none;
  float: left;
  margin: 0 5px;
}
@media screen and (max-width: 1200px) {
  .nav li {
    margin: 0;
  }
}
@media screen and (max-width: 992px) {
  .nav li {
    float: none;
    width: 100%;
    text-align: center;
    margin: 0;
  }
}
@media screen and (max-width: 992px) {
  .nav li {
    padding-left: 20px;
    padding-right: 30px;
  }
}
.nav li a {
  color: #196575;
  font-size: 11px;
  text-transform: uppercase;
  padding: 5px 2px 2px 5px;
  border: 2px solid transparent;
  transition: border-color 0.2s linear;
  display: inline-block;
}
@media screen and (max-width: 1200px) {
  .nav li a {
    font-size: 9px;
  }
}
@media screen and (max-width: 992px) {
  .nav li a {
    padding: 17px 0;
    display: block;
    border: none;
    border-top: 1px solid #196575;
    transition: color 0.2s linear, background 0.2s linear;
    font-size: 11px;
  }
}
.nav li a:hover {
  border-color: #196575;
}
@media screen and (max-width: 992px) {
  .nav li a:hover {
    background: #196575;
    color: #fff;
  }
}
.nav li:last-of-type {
  margin-right: 0;
}
.nav li.active a {
  border-color: #196575;
}

.menu-button, .m-menu-button {
  width: 30px;
  height: 18px;
  position: absolute;
  right: 15px;
  display: none;
  cursor: pointer;
  margin-top: 1px;
}
.menu-button span, .m-menu-button span {
  height: 2px;
  margin-top: 10px;
  background: #03dcd4;
  display: block;
  position: relative;
  top: 0;
  transition: all 500ms ease-out;
}
@media screen and (max-width: 992px) {
  .menu-button, .m-menu-button {
    display: block;
  }
}
.menu-button span:first-child, .m-menu-button span:first-child {
  margin-top: 0;
}
.menu-button.active span:nth-child(1), .m-menu-button.active span:nth-child(1) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 7px;
}
.menu-button.active span:nth-child(2), .m-menu-button.active span:nth-child(2) {
  opacity: 0;
  top: 7px;
}
.menu-button.active span:nth-child(3), .m-menu-button.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: -17px;
}

.m-menu-button {
  transition: top 0.4s ease;
}
.m-menu-button.active span {
  color: #164b9b;
}
.m-menu-button.active {
  top: 5px;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 0 - FOOTER */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.footer {
  background: #222;
  padding-top: 65px;
}
@media screen and (max-width: 768px) {
  .footer {
    padding-top: 45px;
  }
}

.container-footer {
    text-align: center;
}

img.footer-logo {
  display: block;
  margin: 0 auto;
}

.footer h3 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Jaapokki';
  font-size: 16px;
  margin-top: 70px;
  color: #fff;
  letter-spacing: 5px;
}

.footer p {
  text-align: center;
  font-size: 13px;
  font-family: 'Maven Pro';
  color: #646464;
  max-width: 550px;
  margin: 27px auto 45px;
  line-height: 22px;
  letter-spacing: 0;
}

.soc-net {
  position: absolute;
  top: 0;
  width: 100%;
}

.social-network {
  display: inline-block;
  margin-bottom: 38px;
  width: 23%;
  height: 15px;
  text-align: center;
}

.social-network img{
  transition: all 700ms ease-out;
  -ms-transition: all 700ms ease-out;
}

.ftr-social {
  display: table;
  margin: 50px auto 50px;
}
@media screen and (max-width: 768px) {
  .ftr-social {
    margin-bottom: 30px;
    margin-top: 30px;
  }
}

.ftr-social .social-network {
  opacity: 1;
  text-align: center;
  width: 27px;
  height: 27px;
  border: 2px solid #646464;
  margin: 0 25px;
  position: relative;
}

@media screen and (max-width: 600px) {
  .ftr-social .social-network {
    margin: 0 15px;
  }
}
.ftr-social .social-network {
  line-height: 27px;
}
.ftr-social .social-network i {
  color: #646464;
}

.ftr-social .social-network:hover i {
  color: #fff;
}

@media (max-width: 991px) {
  .footer h3, .s-footer {
    margin-top: 20px;
  }

  .footer p {
    margin-top: 15px;
  }
}
.ftr-nav-container {
  background: #171717;
  padding: 28px 0 22px;
}
@media screen and (max-width: 992px) {
  .ftr-nav-container {
    display: none;
  }
}

.ftr-nav {
  display: table;
  margin: 0 auto;
}
.ftr-nav li {
  float: left;
  list-style: none;
}
.ftr-nav li a {
  text-transform: uppercase;
  display: inline-block;
  margin: 0 12px;
  color: #646464;
  transition: color 0.2s linear;
  font-size: 11px;
}

.footer-info {
  color: #646464;
}

.subscribe-form {
  max-width: 570px;
  height: 45px;
  background: #2c2c2c;
  margin: 0 auto;
  padding: 0 0 0 20px;
  position: relative;
}
@media screen and (max-width: 420px) {
  .subscribe-form {
    padding-left: 10px;
  }
}

.subscribe-form label, .subscribe-form input {
  float: left;
  line-height: 45px;
}

.subscribe-form label {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  vertical-align: middle;
  padding-top: 2px;
  padding-right: 9px;
  position: absolute;
  left: 20px;
}
@media screen and (max-width: 420px) {
  .subscribe-form label {
    top: -40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.subscribe-form label:after {
  content: '';
  height: 10px;
  width: 2px;
  background: #fff;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 17px;
}
@media screen and (max-width: 420px) {
  .subscribe-form label:after {
    content: none;
  }
}

.subscribe-email {
  width: 90%;
  border: none;
  height: 45px;
  color: #646464;
  background: none;
  padding: 0 8px;
  float: left;
}

.subscribe-email::-webkit-input-placeholder {
  color: #646464;
}

.subscribe-email::-moz-placeholder {
  color: #646464;
}

.subscribe-email:-moz-placeholder {
  color: #646464;
}

.subscribe-email:-ms-input-placeholder {
  color: #646464;
}

.subscribe-submit {
  border: none;
  background: url("../img/hospital/v-arrow.png") no-repeat 40% 19px;
  position: absolute;
  right: 0;
  transition: background 0.3s ease;
  width: 10%;
}
@media screen and (max-width: 420px) {
  .subscribe-submit {
    background-position: 0 19px;
  }
}

.subscribe-submit:hover {
  background-position: 70% 19px;
}

.input-container {
  position: relative;
  padding-left: 100px;
}
@media screen and (max-width: 420px) {
  .input-container {
    padding-left: 0;
  }
}

.pagination {
    display: block;
    margin: 0 auto;
}

.pagination-hide {
    display: none;
}

/*-------------------- 14-BLOCK-TYPE-3 ------------*/
.v-servise-block {
  padding-bottom: 0;
}

.tab-container {
  border-bottom: 1px solid #eaedee;
}

.nav-tab-serv {
  border-bottom: none;
  display: table;
  margin: 0 auto;
}

.nav-tab-item {
  float: left;
}

.nav-item-serv {
  background: #fff;
  border-radius: 0;
  font-size: 13px;
  text-transform: uppercase;
  color: #8b989b;
  letter-spacing: 2px;
  margin-right: 0;
  border: 1px solid #eaedee;
  border-bottom: none;
  display: inline-block;
  padding: 19px 55PX; 17px;
  cursor: pointer;
  margin-left: -1px;
  transition: background 0.2s linear, color 0.2s linear, border-color 0.2s linear;
}
@media screen and (max-width: 1200px) {
  .nav-item-serv {
    font-size: 12px;
  }
}

.nav-item-serv.active, .nav-item-serv:hover {
  background: #196575;
  border-color: #196575;
  color: #fff;
  margin-bottom: -1px;
}

.tab-nav-wrapper {
  border-bottom: 1px solid #eaedee;
  margin-bottom: 90px;
}

.tab-serv-content {
  min-height: 498px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.tab-serv-img {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.tab-serv-text {
  text-align: center;
  padding: 100px  15px 0;
}

.tab-serv-text h3 {
  color: #196575;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 17px;
}

.tab-serv-text p {
  max-width: 330px;
  font-size: 14px;
  color: #8b989b;
  margin: 0 auto;
  line-height: 1.7;
  font-family: 'Maven Pro';
  letter-spacing: 0;
}

.tab-info {
  display: none;
}

.tab-info.active {
  display: block;
}

@media screen and (max-width: 1200px) {
  .tab-serv-text {
    padding-top: 130px;
  }
}
@media screen and (max-width: 992px) {
  .nav-item-serv {
    padding: 12px 12px 10px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
  }

  .tab-nav-wrapper {
    margin-bottom: 70px;
  }

  .tab-serv-content {
    min-height: 440px;
  }

  .tab-serv-text {
    padding-top: 100px;
  }

  .nav-tab-serv {
    max-width: 500px;
  }
}
@media screen and (max-width: 768px) {
  .tab-nav-wrapper {
    margin-bottom: 40px;
  }

  .tab-serv-content {
    min-height: 350px;
  }

  .tab-serv-text-content {
    min-height: 100% !important;
    height: auto !important;
  }

  .tab-serv-img {
    display: none;
  }

  .tab-serv-text {
    padding: 50px 15px;
  }
}
@media screen and (max-width: 481px) {
  .tab-serv-text {
    padding: 30px 15px;
  }
}

/*----------TEAM BLOCK---------------------*/
.r-team-section {
  padding-top: 140px;
}
@media screen and (max-width: 992px) {
  .r-team-section {
    padding-top: 70px;
  }
}

.team-container {
  position: relative;
}

.team-member-photo, .team-member-box {
  width: 50%;
  float: left;
  position: relative;
}
@media screen and (max-width: 992px) {
  .team-member-photo, .team-member-box {
    width: 100%;
      background-size: contain;
  }
}

.team-member-box {
  min-height: 600px;
}
@media screen and (max-width: 1200px) {
  .team-member-box {
    min-height: 580px;
  }
}
@media screen and (max-width: 992px) {
  .team-member-box {
    min-height: 100%;
  }
}

.team-member-photo {
  background-size: cover;
  background-position: center center;
  min-height: 800px;
    background-repeat: no-repeat;
}
@media screen and (max-width: 1200px) {
  .team-member-photo {
    min-height: 700px;
  }
}
@media screen and (max-width: 992px) {
  .team-member-photo {
    min-height: 600px;
  }
}
@media screen and (max-width: 768px) {
  .team-member-photo {
    min-height: 400px;
  }
}

.team-member-info {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  max-width: 530px;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .team-member-info {
    position: relative;
    left: 0;
    top: 0;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    margin: 0 auto;
    padding: 70px 0;
  }
}
.team-member-info span {
  color: #d1c5b3;
  text-transform: uppercase;
  font-family: 'Maven Pro';
  display: block;
  margin-bottom: 30px;
}
.team-member-info p {
  padding-bottom: 0;
}
.team-member-info img {
  margin-bottom: 40px;
}
.team-member-info .block-title {
  margin-bottom: 10px;
}

.team-nav {
  position: absolute;
  width: 50%;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 992px) {
  .team-nav {
    width: 100%;
    position: relative;
  }
}

.member-slide {
  cursor: pointer;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}
.member-slide img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

.member-slide.active {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  filter: grayscale(0%);
}

.team-member-container {
  display: none;
}

.team-member-container.active {
  display: block;
}

/*----------PRICE----------------------*/
.price-section {
  background: #fcfcfc;
  padding: 140px 0;
}
@media screen and (max-width: 992px) {
  .price-section {
    padding: 70px 0;
  }
}

.h-price-block {
  background: #fff;
  box-shadow: 2.5px 4.3px 10px rgba(0, 0, 0, 0.1);
}
.h-price-block div {
  background: #3cc5de;
}
.h-price-block .price-list li {
  color: #98a6a9;
}
.h-price-block .price-list li span {
  color: #a0adb0;
}
.h-price-block img {
  opacity: 1;
  margin-top: 35px;
}
.h-price-block h6 {
  color: #083b46;
  margin-bottom: 26px;
}
.h-price-block h3 {
  color: #3cc5de;
}
.h-price-block:hover {
  background: rgba(60, 197, 222, 0.5) !important;
}
.h-price-block:hover div {
  background: rgba(60, 197, 222, 0.8) !important;
}

.h-price-col {
  text-align: center;
}
.h-price-col p {
  margin-bottom: 40px;
  letter-spacing: 1px;
  line-height: 1.5;
  font-size: 16px;
}

/*-------------------- 13-BLOCK-TYPE-6 ------------*/
body.red .team {
  padding-top: 136px;
  padding-bottom: 70px;
}
@media screen and (max-width: 992px) {
  body.red .team {
    padding-top: 70px;
  }
}

body.red .team-member {
  max-width: 270px;
  margin: 0 auto;
}
body.red .team-member:after {
  content: '';
  background: #e56b54;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 0;
}

body.red .soc-net {
  padding-top: 35px;
}

body.red .member-social {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 0 20px;
}
@media screen and (max-width: 1200px) {
  body.red .member-social {
    margin: 0 10px;
  }
}
body.red .member-social i {
  color: #ffd2cc;
}
body.red .member-social i:hover {
  color: #fff;
}

.our_prices {
  padding: 136px 0 136px;
  background: #f9f9f9;
}
@media screen and (max-width: 992px) {
  .our_prices {
    padding: 70px 0 70px;
  }
}

.price h3 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  padding: 0 15px;
  line-height: 50px;
  color: #e66a55;
}

.price p {
  text-align: center;
  font-size: 16px;
  color: #9a9a9a;
  margin-top: 40px;
  margin-bottom: 10px;
  line-height: 24px;
  padding: 0 10px;
}

.year-price {
  box-shadow: 2.5px 4.3px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding-top: 45px;
  background: #fff;
}
.year-price:hover {
  background: rgba(229, 107, 84, 0.8);
}
.year-price:hover h3, .year-price:hover .p-year, .year-price:hover .price-list li, .year-price:hover .user, .year-price:hover .price-list li span {
  color: #fff;
}
.year-price:hover div {
  background: #FFD6D0;
}
.year-price:hover img {
  -webkit-filter: contrast(100%) brightness(0%) grayscale(0%) saturate(100%) hue-rotate(0deg) sepia(0%) invert(100%) blur(0px);
  filter: contrast(100%) brightness(0%) grayscale(0%) saturate(100%) hue-rotate(0deg) sepia(0%) invert(100%) blur(0px);
}

.year-price:hover {
  opacity: 1;
}

.year-price p {
  font-size: 16px;
  line-height: 30px;
  color: #9a9a9a;
  padding: 0 20px;
}

.price-number {
  text-transform: uppercase;
  text-align: center;
  font-size: 26px;
  color: #e66a55;
}

p.p-year {
  text-align: center;
  line-height: 16px;
  color: #e66a55;
}

.year-price img {
  display: inline-block;
  margin-top: 45px;
  margin-bottom: 28px;
  opacity: 1;
}

.user {
  color: #333333;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.year-price .read-more {
  color: #fff;
}

.year-price div {
  margin-top: 40px;
  width: 100%;
  background-color: #e66a55;
}

.year-price div a {
  display: block;
  padding: 15px 10px;
}

.price-list {
  list-style: none;
  padding: 0 15px;
}
.price-list li {
  font-size: 14px;
  font-family: 'Maven Pro';
  color: #888;
  letter-spacing: 1px;
  padding-bottom: 27px;
  line-height: 1.3;
}
.price-list li:last-of-type {
  padding-bottom: 10px;
}
.price-list li span {
  color: #e66b55;
  font-weight: bold;
}

@media (max-width: 991px) {
  .our_prices {
    margin-top: 80px;
  }

  .price {
    margin-bottom: 25px;
  }

  .price p {
    margin-top: 20px;
  }

  .year-price {
    padding-top: 25px;
  }

  .year-price p {
    padding: 0 10px;
  }

  .year-price img {
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .user {
    margin-bottom: 20px;
  }

  .year-price div {
    margin-top: 20px;
    padding: 10px 5px;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .our_prices {
    margin-top: 40px;
  }

  .price {
    margin-bottom: 25px;
  }

  .price p {
    margin-top: 20px;
  }

  .year-price {
    padding-top: 15px;
  }

  .year-price p {
    padding: 0 10px;
  }

  .year-price img {
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .user {
    margin-bottom: 20px;
  }

  .year-price div {
    margin-top: 20px;
    padding: 10px 5px;
    margin-bottom: 20px;
  }
}
/*-------------------- 14-BLOCK-TYPE-1 ------------*/
.contact-us {
  padding-bottom: 90px;
}
@media screen and (max-width: 768px) {
  .contact-us {
    padding-bottom: 30px;
  }
}

.contact-us p {
  color: #acafba;
}

.contact-info h5 {
  text-transform: uppercase;
  font-size: 13px;
  margin-bottom: 25px;
  margin-top: 50px;
  color: #333;
}

.contact-info h5:first-child {
  margin-top: 0;
}

.contact-info p {
  line-height: 24px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.phone {
  line-height: 24px;
  text-align: left;
  margin-top: 0;
  text-decoration: none;
  color: #acafba;
  transition: color 0.3s linear;
  font-family: 'Maven Pro';
  letter-spacing: 0;
}

.input-style {
  background: #eeeef0;
  padding: 16px 19px;
  color: #acafba;
  font-family: 'Maven Pro';
  font-size: 13px;
  display: inline-block;
  border: none;
  margin-bottom: 30px;
  border: 1px solid transparent;
}

.mail-us {
  color: #acafba;
  transition: color 0.3s linear;
}

.contact-us input[type=text] {
  width: 47%;
  margin-right: 6%;
  float: left;
}

.contact-us input[type=email] {
  width: 47%;
  float: left;
}

.contact-us input[type=tel] {
  width: 47%;
  float: left;
}

.tx-style {
  width: 100%;
  height: 150px;
  background: #eeeef0;
  padding: 16px 19px;
  color: #acafba;
  font-family: 'Maven Pro';
  font-size: 13px;
  margin-bottom: 40px;
  border: none;
  resize: none;
}

.contact-us input.send {
  font-size: 13px;
  text-transform: uppercase;
  color: #35373e;
  display: block;
  margin: 0 auto;
  opacity: 1;
  text-decoration: none;
  letter-spacing: 2px;
  font-family: 'Jaapokki', sans-serif, Arial;
  padding: 0 35px 0 0;
  background-position: 90% 1px !important;
  background-repeat: no-repeat;
  transition: background 0.3s linear;
  border: none;
}

.contact-us input.send:hover {
  background-position: 100% 1px !important;
}

.send:hover {
  opacity: 1;
}

.send:after {
  content: url(../img/hospital/arrow.png);
  margin-left: 8px;
  opacity: 0.7;
}

.send:hover:after {
  opacity: 1;
}

@media (max-width: 992px) {
  .contact-us h2 {
    margin-top: 40px;
  }

  .contact-us p {
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .contact-info h5 {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .contact-info p {
    margin-top: 0;
  }

  .contact-us input {
    margin-bottom: 10px;
  }

  .contact-us textarea {
    margin-bottom: 40px;
  }

  .contact-us input[type=text] {
    width: 100%;
    margin-right: 0;
  }

  .contact-us input[type=email] {
    width: 100%;
  }

  .contact-us input[type=tel] {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .contact-us h2 {
    margin-top: 40px;
  }

  .contact-us p {
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .contact-info h5 {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .contact-info p {
    margin-top: 0;
  }

  .contact-us input {
    margin-bottom: 10px;
  }

  .contact-us textarea {
    margin-bottom: 20px;
    height: 100px;
  }

  .contact-us input[type=text] {
    width: 100%;
    margin-right: 0;
  }

  .contact-us input[type=email] {
    width: 100%;
  }

  .contact-us input[type=tel] {
    width: 100%;
  }
}
.contact-us input.send {
    background: url("../img/hospital/more-grey.png") no-repeat;
}

.block-style {
    padding: 133px 0 126px;
}

/*-------------------- 13-BLOCK-TYPE-2 ------------*/
.serv {
  padding-top: 136px;
}
@media screen and (max-width: 992px) {
  .serv {
    padding-top: 70px;
  }
}

.about-serv h2 {
  margin-top: 140px;
  font-size: 40px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}

.about-serv p {
  color: #888888;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 85px;
  max-width: 65%;
  text-align: center;
}

body.red .service {
  text-align: center;
  margin-top: 0;
  opacity: 0.7;
  cursor: pointer;
}

body.red .service img {
  display: inline-block;
  margin: auto;
  vertical-align: middle;
  opacity: 0.7;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

body.red .service:hover {
  opacity: 1;
}

body.red .active-serv img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
}

body.red .service p {
  text-align: center;
  line-height: 52px;
}

body.red .service h5 {
  text-transform: uppercase;
  font-size: 13px;
  margin-top: 25px;
  color: #000;
  text-align: center;
  line-height: 48px;
  margin-bottom: 30px;
}

body.red .active-serv h5, body.red .active-serv {
  color: #e66a55;
  opacity: 1;
}

.detail {
  background-color: #e66a55;
}

.service-detail {
  padding: 15px;
  background-color: #e66a55;
  min-height: 500px;
}
@media screen and (max-width: 992px) {
  .service-detail {
    min-height: 100%;
    height: auto;
  }
}

.service-detail > div {
  display: table-cell;
  vertical-align: middle;
  height: 500px;
}
@media screen and (max-width: 992px) {
  .service-detail > div {
    height: auto;
    padding: 50px 0;
  }
}

.service-detail h4 {
  font-size: 30px;
  margin-bottom: 45px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.service-detail p {
  line-height: 28px;
  font-size: 16px;
  text-align: center;
  color: #ffd7d0;
  margin: 0 auto 50px;
  max-width: 75%;
}

.read-more {
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  position: relative;
}

.service-detail .read-more {
  color: #ffd7d0;
  display: block;
}

.detail {
  display: none;
}

.current-det {
  display: block;
}

.detail .row {
  position: relative;
}

.serv-pic {
  position: absolute;
  padding: 0;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  right: 0;
  top: 0;
}
@media screen and (max-width: 992px) {
  .serv-pic {
    display: none;
  }
}

@media (max-width: 991px) {
  .about-serv h2 {
    margin-top: 80px;
  }

  .about-serv p {
    margin-top: 25px;
    margin-bottom: 40px;
  }

  .service-detail {
    padding: 1px 10px;
  }
}
@media screen and (max-width: 991px) and (max-width: 992px) {
  .service-detail {
    width: 100%;
  }
}

@media (max-width: 991px) {
  body.red .service {
    margin-bottom: 20px;
  }

  body.red .service h5 {
    margin-top: 15px;
  }

  .service-detail h4 {
    margin-top: 80px;
    margin-bottom: 25px;
  }

  .service-detail p {
    line-height: 22px;
  }

  .service-detail .read-more {
    margin-top: 35px;
    margin-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .about-serv h2 {
    margin-top: 30px;
  }

  .about-serv p {
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .service-detail {
    padding: 1px 10px;
  }

  body.red .service {
    margin-bottom: 20px;
  }

  body.red .service h5 {
    margin-top: 15px;
  }

  .service-detail h4 {
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .service-detail p {
    line-height: 22px;
  }

  .service-detail .read-more {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
.w-arrow {
  background: url("../img/hospital/v-arrow.png");
  width: 18px;
  height: 8px;
}
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 08- HOSPITAL */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*----------HEADER----------------------*/
.h-nav li a {
  color: #333;
}
.h-nav li a:hover {
  color: #3cc5de;
  border-color: #3cc5de;
}
@media screen and (max-width: 992px) {
  .h-nav li a {
    border-top: 1px solid #3cc5de;
  }
  .h-nav li a:hover {
    background: #3cc5de;
    color: #fff;
  }
}
.h-nav li.active a {
  color: #3cc5de;
  border-color: #3cc5de;
}
@media screen and (max-width: 992px) {
  .h-nav li.active a a {
    background: #32cddb;
    color: #fff !important;
    border-color: #fff;
  }
}
@media screen and (max-width: 992px) and (max-width: 992px) {
  .h-nav li.active a {
    background: #3cc5de;
    color: #fff;
  }
}

@media screen and (max-width: 481px) {
  .h-nav li {
    text-align: left !important;
  }
  .h-nav li a {
    padding-left: 15px;
  }
}

.h-menu-button span {
  background: #3cc5de;
}

.hospital .header {
  border-bottom: 1px solid #ccc;
}

.h-block-title {
  color: #083b46;
}

.h-sub-title {
  color: #98a6a9;
}

.hospital p {
  color: #98a6a9;
  line-height: 1.5;
  letter-spacing: 1px;
}

.padding-top {
  padding-top: 140px;
}
@media screen and (max-width: 992px) {
  .padding-top {
    padding-top: 70px;
  }
}

/*----------BANNER----------------------*/
.h-banner .swiper-slide {
  min-height: 780px;
  position: relative;
  background-position: center top;
}
.h-banner .swiper-slide:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 992px) {
  .h-banner .swiper-slide {
    min-height: 700px;
  }
}
@media screen and (max-width: 768px), screen and (max-height: 800px) {
  .h-banner .swiper-slide {
    min-height: 650px;
  }
}

.h-banner .swiper-slide h1, .h-banner .swiper-slide h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  line-height: 1.2;
  color: #fff;
  text-transform: uppercase;
  font-size: 60px;
  text-align: center;
  opacity: 0;
  transition: opacity 1s linear;
  z-index: 55555;
}
@media screen and (max-width: 992px) {
  .h-banner .swiper-slide h1, .h-banner .swiper-slide h2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 768px) {
  .h-banner .swiper-slide h1, .h-banner .swiper-slide h2 {
    font-size: 36px;
    padding: 0 15px;
    width: 100%;
  }
  .h-banner .swiper-slide h1 br, .h-banner .swiper-slide h2 br {
    display: none;
  }
}
.h-banner .swiper-slide-active h1, .h-banner .swiper-slide-active h2 {
  opacity: 1 !important;
}

.h-banner-nav-item {
  width: 25%;
  float: left;
  background: #3cc5de;
  padding: 39px 30px 36px;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 992px) {
  .h-banner-nav-item {
/*    display: none;*/
      width: 50%;
      height: 150px;
  }
    .h-banner-nav-item p{
        float: right;
        width: 77%;
        clear: left;
    }
    .h-banner-nav-item img{
        position: absolute;
        bottom: 40px;
    }
    .h-banner-nav-item h3{
        position: absolute;
        top: -25px;

}
    }
@media screen and (max-width: 400px) {

    .h-banner-nav-item {
    display: none;

  }

}

@media screen and (max-width: 600px) {
  .h-banner-nav-item {
/*    display: none;*/
      width: 100%;
  }
}
.h-banner-nav-item h3 {
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  margin: 25px 0;
}
.h-banner-nav-item p {
  color: #c7f2fa;
  font-size: 14px;
  line-height: 1.5;

}
.h-banner-nav-item:nth-last-of-type(2) {
  background: #22bdda;
}
.h-banner-nav-item:nth-last-of-type(3) {
  background: #05b4d5;
}
.h-banner-nav-item:nth-last-of-type(4) {
  background: #00aacf;
}

.h-banner-nav-item.active {
  background: #093B46;
}

@media screen and (max-width: 992px) {
  .pagination-h {
    display: block !important;
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .pagination-h .swiper-pagination-switch {
    background: #3cc5de;
    cursor: pointer;
    opacity: 0.5;
  }
  .pagination-h .swiper-active-switch {
    background: #00aacf;
    opacity: 1;
  }
}

/*----------ABOUT SECTION----------------------*/
.h-about-section {
  padding-top: 20px;
}
@media screen and (max-width: 992px) {
  .h-about-section {
    padding-top: 70px;
  }
}

.h-about-box {
  min-height: 500px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .h-about-box {
    min-height: 450px;
  }
}
@media screen and (max-width: 768px) {
  .h-about-box {
    width: 50%;
    float: left;
    min-height: 400px;
  }
}
@media screen and (max-width: 481px) {
  .h-about-box {
    width: 100%;
  }
}
.h-about-box:hover .h-about-info {
  bottom: 0;
}

.h-about-box {
  text-align: center;
}
.h-about-box h3 {
  text-transform: uppercase;
  color: #083b46;
  font-size: 13px;
  margin-bottom: 20px;
}

.h-about-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 325px;
  width: 100%;
  padding: 0 15px;
}

.h-about-text-wrap {
  position: absolute;
  width: 100%;
  height: 60%;
  top: 0;
  left: 0;
}
@media screen and (max-width: 992px) {
  .h-about-text-wrap {
    height: 70%;
  }
}

.h-img-bottom {
  position: absolute;
  height: 40%;
  width: 100%;
  max-width: 100%;
  left: 0;
  bottom: 0;
}
@media screen and (max-width: 992px) {
  .h-img-bottom {
    height: 30%;
  }
}

.h-about-info {
  padding: 30px 30px 27px;
  text-align: left;
  position: absolute;
  width: 100%;
  bottom: -100px;
  left: 0;
  background: rgba(60, 197, 222, 0.9);
  transition: bottom 0.6s ease;
}
.h-about-info h4 {
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  margin-bottom: 15px;
}
.h-about-info span {
  display: block;
  color: #d6f3f9;
  font-family: "Maven Pro";
}

/*----------OUR SERVICES----------------------*/
.h-services {
  position: relative;
  background-position: center top;
}
.h-services:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(60, 197, 222, 0.9);
}
.h-services .block-title {
  color: #fff;
}
.h-services .sub-title {
  color: #c7f2fa;
}
.h-services .container {
  position: relative;
  z-index: 1;
}

.col-serv {
  text-align: center;
  margin-bottom: 80px;
}
@media screen and (max-width: 768px) {
  .col-serv {
    margin-bottom: 50px;
  }
}
.col-serv h3 {
  text-transform: uppercase;
  margin: 32px 0 18px;
  color: #fff;
  line-height: 1.2;
}
.col-serv p {
  color: #c7f2fa;
}

/*----------DOCTORS----------------------*/
.doctors-section {
  padding-top: 140px;
}
@media screen and (max-width: 992px) {
  .doctors-section {
    padding-top: 70px;
  }
}

.nav-doctor .nav-item-serv.active, .nav-doctor .nav-item-serv:hover {
  background: #3cc5de;
  border-color: #3cc5de;
  color: #fff;
  margin-bottom: -1px;
}

.doctor-photo {
  min-height: 650px;
}
@media screen and (max-width: 992px) {
  .doctor-photo {
    min-height: 400px;
  }
}

.team-doctor .team-member-box {
  min-height: 650px;
}
@media screen and (max-width: 992px) {
  .team-doctor .team-member-box {
    min-height: 100%;
  }
}

.doctor-nav {
  position: relative;
  width: 100%;
}

.team-doctor .block-title {
  color: #083b46;
}
.team-doctor span {
  color: #98a6a9;
}

/*----------PROCEDURES----------------------*/
.procedure-slider {
  padding-top: 100px;
}
.procedure-slider .swiper-slide {
  text-align: center;
}
.procedure-slider .swiper-slide h3 {
  color: #083b46;
  margin-bottom: 30px;
  font-size: 20px;
}
.procedure-slider .swiper-slide p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.procedure-slide {
  text-align: center;
  opacity: 0.3;
}
.procedure-slide.swiper-slide-active {
  opacity: 1;
}
.procedure-slide h3 {
  color: #083b46;
  font-size: 13px;
  margin: 20px 0;
}
.procedure-slide span {
  display: block;
  color: #98a6a9;
  font-family: 'Maven Pro';
  font-size: 14px;
  letter-spacing: 1px;
}

.h-arrow-container {
  position: absolute;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  top: 50px;
  text-align: center;
}
.h-arrow-container span {
  color: #98a6a9;
}
.h-arrow-container .start_index {
  color: #3cc5de;
}
.h-arrow-container .swiper-arrow-left, .h-arrow-container .swiper-arrow-right {
  position: absolute;
  top: 0;
  cursor: pointer;
}
.h-arrow-container .swiper-arrow-left {
  left: 0;
}
.h-arrow-container .swiper-arrow-right {
  right: 0;
}

/*----------PRICE----------------------*/
.price-section {
  background: #fcfcfc;
  padding: 140px 0;
}
@media screen and (max-width: 992px) {
  .price-section {
    padding: 70px 0;
  }
}

.h-price-block {
  background: #fff;
  box-shadow: 2.5px 4.3px 10px rgba(0, 0, 0, 0.1);
}
.h-price-block div {
  background: #3cc5de;
}
.h-price-block .price-list li {
  color: #98a6a9;
}
.h-price-block .price-list li span {
  color: #a0adb0;
}
.h-price-block img {
  opacity: 1;
  margin-top: 35px;
}
.h-price-block h6 {
  color: #083b46;
  margin-bottom: 26px;
}
.h-price-block h3 {
  color: #3cc5de;
}
.h-price-block:hover {
  background: rgba(60, 197, 222, 0.5) !important;
}
.h-price-block:hover div {
  background: rgba(60, 197, 222, 0.8) !important;
}

.h-price-col {
  text-align: center;
}
.h-price-col p {
  margin-bottom: 40px;
  letter-spacing: 1px;
  line-height: 1.5;
  font-size: 16px;
}

/*----------REVIEW----------------------*/
.review-section {
  position: relative;
  padding: 140px 0;
  background-size: cover;
  background-position: center top;
}
.review-section:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(60, 197, 222, 0.9);
}
@media screen and (max-width: 992px) {
  .review-section {
    padding: 70px 0;
  }
}
.review-section .container {
  position: relative;
  z-index: 22;
}
.review-section .block-title, .review-section .sub-title {
  color: #fff;
}

.rewiev-slider .swiper-slide {
  text-align: center;
}
.rewiev-slider .swiper-slide h3 {
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  margin: 20px 0;
}
.rewiev-slider .swiper-slide p {
  font-size: 16px;
  color: #c7f2fa;
  line-height: 1.5;
  max-width: 760px;
  margin: 0 auto;
}
.rewiev-slider .swiper-slide h3, .rewiev-slider .swiper-slide p, .rewiev-slider .swiper-slide img {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  transition: -webkit-transform 1s ease 0.1s;
  transition: transform 1s ease 0.1s;
}

.rewiev-slider .swiper-slide-active h3, .rewiev-slider .swiper-slide-active p, .rewiev-slider .swiper-slide-active img {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.h-arrow {
  position: absolute;
  top: 0;
  left: 50%;
  width: 270px;
  margin-left: -135px;
}
.h-arrow .swiper-arrow-left, .h-arrow .swiper-arrow-right {
  position: absolute;
  top: 80px;
  cursor: pointer;
}
.h-arrow .swiper-arrow-left {
  left: 0;
}
.h-arrow .swiper-arrow-right {
  right: 0;
}

/*--------------------CONTACT ------------*/
.contact {
    padding-bottom: 0;
}
.h-contact-us h5 {
  color: #083b46;
}
.h-contact-us p {
  color: #98a6a9;
}
.h-contact-us a:hover {
  color: #083b46;
}
.h-contact-us input.send {
  color: #083b46;
  background-image: url("../img/hospital/arrow.png") !important;
}

/*----------REVIEW----------------------*/
.h-footer {
  background: #083b46;
}
.h-footer .subscribe-form {
  background: #10434e;
}
.h-footer .footer-info, .h-footer .subscribe-email {
  color: #5b838c;
}
.h-footer .subscribe-email::-webkit-input-placeholder {
  color: #5b838c;
}
.h-footer .subscribe-email::-moz-placeholder {
  color: #5b838c;
}
.h-footer .subscribe-email:-moz-placeholder {
  color: #5b838c;
}
.h-footer .subscribe-email:-ms-input-placeholder {
  color: #5b838c;
}
.h-footer .ftr-nav-container {
  background: #083741;
}
.h-footer .ftr-nav-container a {
  color: #5b838c;
}
.h-footer .ftr-nav-container a:hover {
  color: #fff;
}

.h-social .social-network {
  border-color: #5b838c;
}
.h-social .social-network i {
  color: #5b838c;
}
.h-social .social-network:hover {
  background: #3cc5de;
  border-color: #3cc5de;
}

.productD {
    overflow: scroll;
    padding: 10px;
    height: 480px;
}

.clickToLearn {
       color: black;
    font-size: 35px;
    position: absolute;
    top: 100px;
    left: 42px;
    text-align: center;
    font-weight: 100;
    border: 1px solid;
    padding: 10px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.center-image
}

td {
    margin-top: 10px;
}

a {
    font-weight: 300;
    color: white;
}

.bold {
 margin-bottom: 10px;
    font-weight: 500;
}

#sub {
    font-size: .4em;
    margin-top: -5px;
}

.about {
    padding: 20px;
}
.darkBlue{
    font-size: 3em;
    font-weight: bold;
    color: #053B47;
}
.blue{
     font-size: 1.5em;
    font-weight: bold;
    color: #00B4D7;
}

.center-image .phone {

}

.white {
    color: white;
    font-weight: bold;
}

.one, .two, .three {
    display: none;
}
.show{
    display: inline-block;
}

.two {

}
